@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

  body {
    font-family: "Poppins", sans-serif;
  }
}

@theme {
  --color-primary: #1c1c1e;
  --color-secondary: #2c2c2e;
  --color-accent: #f47521;
  --color-text-muted: #b0b0b0;
  --color-border-default: #3a3a3c;
}
