@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

@plugin 'tailwind-scrollbar';

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

  body {
    font-family: "Poppins", sans-serif;
  }
}

@theme {
  /* primary colors */
  --color-background: #1b3c53;
  --color-text: #f9f3ef;
  --color-accent: #456882; /* for buttons and hover effects */
  --color-highlight: #d2c1b6; /* for borders and icons */

  --animate-fadeInUp: fadeInUp 1s ease-in-out;
  --animate-blurIn: blurIn 0.6s ease-out forwards;

  @keyframes fadeInUp {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes blurIn {
    0% {
      filter: blur(10px);
      opacity: 0;
    }
    100% {
      filter: blur(0px);
      opacity: 1;
    }
  }
}
